.reset-password-confirmation-form {
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 auto;
  }
  
  h2 {
    text-align: center;
    font-size: 26px;
    color: white;
    margin-bottom: 20px;
  }
  
  .reset-password-confirmation-form label {
    color: #fff;
    font-size: 18px;
  }
  
  .reset-password-confirmation-form input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #eee;
    margin-top: 5px;
    width: 100%;
    box-sizing: border-box;
  }
  
  .reset-password-button {
    padding: 15px;
    background-color: #8686FC;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 22px;
  }
  
  .reset-password-button:hover {
    background-color: #5751c9;
  }
  